/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/



.grid {
    width: 80%;
    padding: 4em;
}

/* used https://www.w3schools.com/css/css3_flexbox.asp for flexbox syntax */
.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout {
    padding: 4rem;
}

/* title header */
.title-text {
    padding-top: 1em;
    font-size: 3em;
}

.title-box {
    display: block;
    padding: 2em;
    margin-top: 1em;
    margin-bottom: 0;
    background-color: #f1f1f1;
}

/* added margin between section elements */
section {
    margin-bottom: 3rem;
}

/* font from https://www.cdnfonts.com/satoshi.font */
body {
    font-family: 'Satoshi', sans-serif;
}



.element {
    padding-bottom: 2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}


h3.in {
    font-style: normal;
}

h3 {
    font-style: italic;
    margin-top: 1rem;
}

h4 {
    margin-bottom: 0.25rem;
}

/* changed default width */

p {
    font-family: 'Noto Sans';
    margin-top: 0;
    max-width: 50%;
    padding: 1em;
}

nav a:hover,
nav a:focus {
    text-decoration: none;
}

code {
    background-color: #EEE;
    padding: 0.5rem;
    display: block;
}


/* 
    INTERACTIVE ELEMENTS -------------------
  */

/* Styling for the buttons */
.buttonSubmit,
.buttonReset {
    border-radius: 5px;
    display: inline-block;
    padding: .5rem;
    color: white;
    background-color: #323232;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.buttonSubmit:hover,
.buttonSubmit:focus,
.buttonReset:hover,
.buttonReset:focus,
.checkout-button:hover {
    background-color: #C8C8C8;
}

.checkout-button {
    background-color: #323232;
    color: white;
    padding: .8rem;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}


/* learned about hover and focus on W3schools */

.in-text:hover {
    background-color: rgb(200, 200, 200);
}

.in-text:focus {
    background-color: rgb(80, 104, 126);
}

.image-link:hover {
    opacity: 0.8;
}

.image-link:focus {
    opacity: 0.2;
}

/* 
  https://learn.shayhowe.com/html-css/building-forms/
  learned from link on canvas
  */

.tInput label {
    color: #000000;
    display: block;
    font-weight: bold;
    margin-top: 15px;
}

.tInput input {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c6c7cc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    color: #636466;
    padding: 6px;
    margin-top: 6px;
    width: 150px;
}

.tInput input:hover {
    border: 1px solid #000000;
}

.tInput input:focus {
    border: 1px solid #2d58a3;
}

.productImg {
    height: 20em;
    padding: 0;
    border: 2px solid #000;
    border-radius: 3em;
}

.prod {
    margin: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.product-name {
    margin-bottom: 2rem;
}

/* 
    TEXT ELEMENTS -------------------
  */




/* 
    COMBINED ELEMENTS -------------------
  */
/*  learned from https://www.w3schools.com/howto/howto_css_checkout_form.asp */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    flex: 25%;
}

.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}



span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}



/* 
    from w3schools 
  */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1;
}

.nav-bar a {
    text-align: center;
    color: #000;
    padding: 1em 1.5em;
    text-decoration: none;
}

.nav-bar a:hover {
    background-color: #555;
    color: white;
}


.demo-nav-bar {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.demo-nav-bar a {
    flex-grow: 1;
    text-align: center;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
}

.demo-nav-bar a:hover {
    background-color: #555;
    color: white;
}

.demo-nav-button {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.demo-nav-button a {
    flex-grow: 1;
    text-align: center;
    color: #000;
    padding: 10px 15px;
    text-decoration: none;
}

.demo-nav-button a:hover {
    background-color: #555;
    color: white;
}

.satoshi-font {
    font-family: 'satoshi';
    font-size: 50px;
}

.noto-font {
    font-family: 'noto sans';
    font-size: 40px;
    margin-bottom: 0;
}

.colours-box {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

.colours-1 {
    color: #ffffff;
    padding: 1em;
    background-color: #555;
    ;
    width: 40%;
}

.colours-2 {
    padding: 1em;
    background-color: #ffffff;
    width: 40%;
}

.colours-3 {
    color: #ffffff;
    padding: 1em;
    background-color: #323232;
    width: 40%;
}

.colours-4 {
    padding: 1em;
    background-color: #f1f1f1;
    width: 40%;
}

.demo-image {
    margin: 1.5em;
    padding: 0;
    border: 2px solid #000;
    height: 35rem;
}