* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



:root {

    /* colors */
    --light-gray: #555555;

    /* font styles */
    --body-font: "Montserrat", sans-serif;
    --heading-font: "REM", sans-serif;
}

/* Global */
html {
    min-height: 100%;
    min-width: 100%;
}


header {
    font-family: 'REM';
    font-size: 1.2em;
}

body {
    font-family: 'Montserrat';
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--light-gray);
}

a:hover {
    color: black;
}

/* navigation bar */
nav {
    display: flex;
    min-width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--light-gray);
    text-align: center;
    padding: 1rem 1.1rem;
    text-decoration: none;
}

.logo a {
    font-size: 2.5em;
    color: black;
}


.landing {
    min-width: 100%;
    min-height: 100%;
    padding-top: 30vh;
    padding-bottom: 45vh;
}

/* underline link effect */
.un {
    display: inline-block;
    position: relative;
}

.un::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--light-gray);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.un:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Montserrat {
    font-family: 'Montserrat';
}

.REM {
    font-family: 'REM';
}

.toggle-collapse {
    float: right;
    display: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.projectImg {
    height: 50em;
    padding: 0;
    border: 2px solid #000;
    border-radius: 0.3em;
}



/* Media quieres for smaller devices*/
/* mobile screens nav from https://www.youtube.com/watch?v=x-MFJhqRZ7s*/
@media screen and (max-width: 600px) {
    nav {
        display: block;
    }
    .logo {
        display: inline-block;
        float: none
    }
    .logo a {
        font-size: 1.5em;
        color: black;
    }
    .landing {
        padding-top: 10vh;
        padding-bottom: 70vh;
    }
    .toggle-collapse {
        float: right;
        display: inline;
    }
    nav .navbar-collapse .nav-item {
        display: block;
    }
    .navbar-collapse {
        width: 100%;
        padding-top: 1em;
        overflow: hidden;
        height: 0vh;
        transition: all 500ms ease;
    }
    .collapse {
        height: 40vh;
    }
    .projectImg {
        height: auto;
        width: 95vw;
        padding: 0;
        margin: 0 auto;
        border: 2px solid #000;
        border-radius: 0.3em;
    }
}