* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



:root {

    /* colors */
    --light-gray: #555555;
    --secondary-color: #f4f4f4;

    /* font styles */
    --body-font: "Montserrat", sans-serif;
    --heading-font: "REM", sans-serif;
}

/* Global */
html {
    min-height: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1rem;
}

header {
    font-family: 'REM';
    font-size: 1.2em;
}

main {
    flex: 1;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

p {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--light-gray);
}

a:hover {
    color: black;
}

/* navigation bar */
nav {
    display: flex;
    min-width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: var(--light-gray);
    text-align: center;
    padding: 1rem 1.1rem;
    text-decoration: none;
}

.logo a {
    font-size: 2.5em;
    color: black;
}


.landing {
    min-width: 100%;
    min-height: 100%;
    padding-top: 30vh;
    padding-bottom: 45vh;
}



/* underline link effect */
.un {
    display: inline-block;
    position: relative;
}

.un::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -1px;
    left: 0;
    background-color: var(--light-gray);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.un:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.Montserrat {
    font-family: 'Montserrat';
}

.REM {
    font-family: 'REM';
}

.section-title {
    font-size: 2rem;
    min-width: 100vw;
    text-align: center;
}

.bg-light {
    background-color: var(--secondary-color);
}

.toggle-collapse {
    float: right;
    display: none;
}

figure {
    padding: 0;
    margin: 2em;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

.project-title {
    font-size: 2rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
}

.project-description {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.title {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.title h1 {
    font-size: 3.5rem;
    padding: 0;
    margin: 3.5rem 0;
    width: 80vw;
}

.about-block {
    display: block;
    width: 100vw;
    margin-bottom: 5rem;
}

.about-block div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
    padding-top: 3rem;
}

.about-text {
    display: flex;
    flex-wrap: wrap;
}

.about-block h2 {
    font-size: 3rem;
    margin: 0;
}

.about-block p {
    max-width: 50vw;
    font-size: 2rem;
    margin: 3rem;
    line-height: 1.4;
}

.mypic {
    max-width: 25vw;
    border: 2px solid #000;
    border-radius: 0.3em;
}


/* footer */
footer {
    border-top: 2px solid var(--light-gray);
    padding: 2rem 2.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    font-size: 1.25rem;
}

footer p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.footer-link+.footer-link {
    margin-left: 1em;
}

.black {
    color: #000;
}



/* Media quieres for smaller devices*/
/* mobile screens nav from https://www.youtube.com/watch?v=x-MFJhqRZ7s*/
@media screen and (max-width: 600px) {
    nav {
        display: block;
    }

    .logo {
        display: inline-block;
        float: none
    }

    .logo a {
        font-size: 1.5em;
        color: black;
    }

    .landing {
        padding-top: 10vh;
        padding-bottom: 70vh;
    }

    .toggle-collapse {
        float: right;
        display: inline;
    }

    nav .navbar-collapse .nav-item {
        display: block;
    }

    .navbar-collapse {
        width: 100%;
        padding-top: 1em;
        overflow: hidden;
        height: 0vh;
        transition: all 500ms ease;
    }

    .collapse {
        height: 24vh;
        background-color: var(--secondary-color);
    }

    .section-title {
        font-size: 1.5rem;
        min-width: 100vw;
        text-align: center;
    }

    figure {
        padding: 0;
        margin: 0;
    }

    .projects {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .projects figure {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin: 1.5em 0;
    }

    footer {
        border-top: 2px solid var(--light-gray);
        padding: 1rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }

    .footer-link {
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem;
    }

    .about-block {
        display: block;
        width: 100vw;
        margin-bottom: 5rem;
    }

    .about-block div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;
        padding-top: 0;
    }

    .about-block p {
        max-width: 80vw;
        font-size: 1.3rem;
        margin: 0;
        line-height: 1.4;
    }

    .about-block h2 {
        font-size: 2rem;
        margin: 0.5em 0;
    }

    .mypic {
        max-width: 80vw;
        margin-bottom: 1rem;
    }

    .title {
        text-align: center;
    }
}