* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Global */
html {
    min-height: 100%;
    overflow: hidden;
}


header {
    font-family: 'REM';
    font-size: 1.2em;
}

body {
    font-family: 'Montserrat';
}

/* navigation bar */
nav {
    display: flex;
    min-width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2em;
    color: black;
}

nav a {
    color: #555555;
    text-align: center;
    padding: 1rem 1.1rem;
    text-decoration: none;
}


nav a:hover {
    color: black;
}


.landing {
    min-width: 100%;
    min-height: 100%;
    padding-top: 30vh;
}

/* referenced from: https://css-tricks.com/snippets/css/typewriter-effect/ */
.fade-in-text, .fade-in-text-2 {
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 5rem;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}


/* Animation */
.anim-typewriter {
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) 0s 12 normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(29, 29, 29, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}

.anim-typewriter-2 {
    animation: typewriter-2 4s steps(44) 6s 1 normal both,
        blinkTextCursor-2 500ms steps(44) 6s infinite normal;
}

@keyframes typewriter-2 {
    from {
        width: 0;
    }

    to {
        width: 13em;
    }
}

@keyframes blinkTextCursor-2 {
    from {
        border-right-color: rgba(29, 29, 29, 0.75);
    }

    to {
        border-right-color: transparent;
    }
}